<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css")
    link(rel="stylesheet", href="../index.css")
    title Les Composants
  body
    .ui.inverted.fixed.menu
      .header.item Les Composants 
    
    .ui.main.container#app

      h3 Composant global
      message.ui.message(:message="message", type="success")

      h3 Composant local
      local.ui.message(:local="local", type="error")

      h3 Counter
      counter
      counter(:start="3")

      h3 Communation entre parents et enfants
      communation.ui.message(:message="message", type="success", header="test" v-if="alert" @close="hideAlerte")
      button(@click="showAlerte") Click

      h3 Transfere vers le parent (Formulaire)
      formuser(v-model="user") Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem eaque impedit, eum porro reprehenderit, consequatur ipsam assumenda, voluptates adipisci asperiores esse cumque facere? Libero, quis quae voluptatem nemo inventore mollitia.

      pre {{ user }}


    
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src="index.js")