<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css")
    link(rel="stylesheet", href="../index.css")
    title Créer un "Store"
  body
    .ui.inverted.fixed.menu
      .header.item Créer un "Store"
    
    .ui.main.container#app

      Counter()

      Notifications()

    
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src="index.js")