<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    title Quelques personnages de Game of Thrones
  body
      #app
        p  le nom est  {{ valeur }}

        
        select(name="personnage", v-model="valeur")
          option( disabled value="") Choisissez
          template(v-for="perso in persos")
            option(:value="perso.list") {{ perso.nom }}
        

      script(src="index.js")