<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Event
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
  body
    #app
      p la valeur est : {{ valeur }}

      input(type="text", placeholder="saisie" v-model="valeur")

      br

      template(v-for="abo in abos")
        input(type="radio", :value="abo.value", v-model="valeur")
        label(:for="abo.value") {{ abo.sentences }}
        br

      select(name="nationalité", v-model="valeur")
        option( disabled value="") Choisissez
        option(:value="info.value", v-for="info in infos") {{info.intitule}}
      


    script(src="index.js")